{% extends 'base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<body>

<h1><font color="blue" face="verdana">Hello how are you,ivin jose</font> </h1>
<h4>Displaying list data with for loop in jinja2</h4>
{% for i in list %}
{{ i }}<br>
{% endfor %}
<Br>

<dl>
    <dt>WORKING</dt>
    <ul style="square">
        <li>login page</li>
        <li>logout page</li>
    </ul>

    <dt>IN PROGRESS</dt>
    <ul style="list-style-type: square;">
        <li>update page</li>
        <li>verify the username and password for logout id</li>
    </ul>
</dl>


</body>
</html>
{% endblock %}