{% extends 'base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
    <style type="text/css">
        #quote{
		width: 150px;
		height: 150px;
		background-color: #e0b304a3;
		border: 4px solid black;
		border-top-right-radius: 35px;
		border-bottom-left-radius: 35px;
		padding: 15px;
		margin: 5px;

		position: absolute;
		right: 0px;
		top: 0px;
		margin: auto;
		margin-top: 100px;
		margin-right: 70px;
        }
        #p1{
        padding: 7px;
		font-family: cursive;
		font-size: 17px;
		}

    </style>
</head>
<body>

<h1><font color="blue" face="verdana">Hello how are you,ivin jose</font> </h1>
<h4>Displaying list data with for loop in jinja2</h4>
{% for i in list %}
{{ i }}<br>
{% endfor %}
<Br>

<dl>
    <dt>WORKING</dt>
    <ul style="square">
        <li>login page</li>
        <li>logout page</li>
    </ul>

    <dt>IN PROGRESS</dt>
    <ul style="list-style-type: square;">
        <li>update page</li>
        <li>verify the username and password for logout id</li>
    </ul>
</dl>
<div id="quote">
    <p id="p1">"some second chances are
        too costly"</p>

</div>

</body>
</html>
{% endblock %}