{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logout page</title>
</head>
<body>
<center>
    <h3><font color="blue" face="verdana">logout !<br>-------------</font> </h3><br><br>
<form  method="POST">
    <input type="number" name="id" required>
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit" name="delete">

</form>
    {{ name }}{{ message }}
    {{ error_message }}
</center>
</body>
{% endblock%}