<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logout page</title>

</head>
<center>
<body>

    <h3><font color="red" face="verdana">logout !</font> </h3><br><br>
<div class="form">
<form  method="POST">
    <label>id</label>
    <input type="number" name="id" required><br><br>
    <label>Name </label>
    <input type="text" name="name"><br><br>
    <label>Password</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Delete" class="btn btn-warning"><br>

</form>
    </div>
{% if name %}
{{ name }}{{ message }}
{% endif %}
</center>
</body>
{% endblock%}