<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h6>hello</h6>
<ol style="list-style">
    <li>
        dhdh
    </li>
</ol>
</body>
</html>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blogs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Create blog</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/#">Edit blog</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/#">Delete blog</a></li>
          </ul>
        </li>
      </ul>